@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500&family=Poppins:ital,wght@0,300;1,300&display=swap');

/*
    // Title font
    font-family: 'Finlandica', sans-serif;
    // Page font
    font-family: 'Poppins', sans-serif;
*/

/* =============== html + Fonts ================== */

html {
    font-family: 'Poppins', sans-serif;
    background-color: #66BFBF;
    font-size: 16px;
    color: #333;
    height: 100%;
}
h1 {
    font-family: 'Finlandica', sans-serif;
    text-transform: uppercase;
}
h1 span {
    font-size: 1.5em;
}

/* =============== Navigation =============== */
nav {
    height: 75px;
    padding: 10px 0;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 10px #333;
}
#speaker {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
h1#logo {
    font-size: 2.5rem;
    float: left;
    width: 25%;
    height: 100%;
    color: #FF0063;
    text-align: center;
    filter: drop-shadow(-2px 2px 1px #333);
    line-height: 50px;
    transition: transform .5s;
}
/* this method becomes tedious, can't put a class on a pseudo-element */
h1#logo::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 3px;
    background-image: url("../images/Samurai.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}
h1#logo::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 3px;
    background-image: url("../images/face.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}
h1#logo:hover {
    transform: rotate(540deg);
}
#navigation {
    list-style: none;
}
#navigation a {
    float: left;
    transform: scale(1);
    transition: transform .1s;
}
#navigation a:hover {
    font-weight: bold;
    filter: drop-shadow(1px 1px 1px #333);
    transform: scale(1.5);
}
#navigation img {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
}
#navigation li {
    box-sizing: content-box;
    width: fit-content;
    line-height: 57px;
    margin-right: 2em;
    height: 100%;
    display: inline-block;
    color: #FF0063;
    font-size: 1.2em;
    font-weight: 800;
}

/* =============== Body ================ */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* =============== Main Column ============= */
#main.column {
    width: 650px;
    min-height: 100vh;
    margin: 50px auto;
    border-radius: 3px;
    overflow: hidden;
}
#main.column figure {
    width: 100%;
    min-height: 200px;
    background: url(../images/banner.png) no-repeat;
    position: relative;
}
#main.column figure figcaption {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.905), transparent);
    color: white;
    padding: 15px;
    position: absolute;
    bottom: 0;
}
#main.column.post {
    background-color: white;
    width: 800px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* ============ Blog Holder ============ */
.blog-holder {
    background-color: white;
    border-radius: 7px;
    border: 1px solid #ff0062a8;
    padding: 2em;
    margin-bottom: 10px;
}
#main.post .blog-holder {
    border: none;
    padding: 2em 3em;
}
#main > div:nth-child(2) {
    border-radius: 0 0 7px 7px;
}
/* ============ Author =============== */
.author-holder {
    clear: both;
}
.author-holder img {
    height: 35px;
    width: 35px;
    border-radius: 100px;
    float: left;
}
.author-holder h6 {
    font-weight: 100;
}
.author {
    float: left;
    padding-left: 10px;
}
/* ============ Metadata =============== */
.metadata {
    padding-left: 45px;
}
.metadata a {
    color: #333;
    text-decoration: none;
    transition: color .1s;
}
.metadata a:hover {
    color: #FF0063;
}
.tags {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}
.tag {
    display: inline-block;
    font-size: 0.8em
}
/* ============ Interactions =============== */
.interactions {
    font-size: 0.8em;
}
.reactions::before {
    content: "";
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: url(../images/heart.png) center center no-repeat;
    background-size: cover;
}
.comments::before {
    content: "";
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    background: url(../images/chat.png) center center no-repeat;
    background-size: cover;   
}
.read-time {
    float: right;
}

/* ============= Blog Post ================= */
#main.post .metadata {
    padding: 0;
}
#main.post .metadata h2 {
    font-size: 3em;
}