@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500&family=Poppins:ital,wght@0,300;1,300&display=swap');

/*
    // Title font
    font-family: 'Finlandica', sans-serif;
    // Page font
    font-family: 'Poppins', sans-serif;
*/
/* ===============Body + Fonts================== */

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
h1 {
    font-family: 'Finlandica', sans-serif;
    text-transform: uppercase;
}
h1 span {
    font-size: 1.5em;
}

/* ====================================== */

#splash {
    background-color: #333;
    position: absolute;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(80% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
}
#splash h1 {
    text-align: center;
    font-size: 4em;
}
#splash h1::after {
    content: " ";
    display: block;

}